body{
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, #b6c0c0, #aa95ac);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1{
    color: #2a142c;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.slider{
    width: 80%;
    height:80vh;
    position: relative;
}

.slider .slide{
    display: none;
}

.slider .slide img{
    width: 100%;
    height:80vh;
    object-fit: cover;
    border-radius: 15px;
    overflow: hidden;
}

.slider .button{
    position: absolute;
    top:50%;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider .button a{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
}

.slider .button .prev{
    margin-left: 10px;
}

.slider .button .next{
    margin-right: 10px;
}

.button-2{
    width:100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.button-2 button{
    width: auto;
    height: 40px;
    background-color: #2a142c;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}