body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, #b6c0c0, #aa95ac);

}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2a142c;
}

#box{
    width: 50px;
    height:50px;
    background-color: aqua;
    border: none;
    border-radius: 15px;
}